/* (middle (screw) of a blue cutter) */
.testTag{
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: green;

  /* z-index: 2; */

  /* CRITICAL: Centers the marker directly over the exact pixel coordinate */
  transform: translate(-50%, -50%); 
}


.playArea{
  /* display: flex; */
  /* position: relative; */
}

.imageContainer{
  width: 1600px;
  height: auto;
  position: relative;
  display: inline-block;
  /* width: 100%; */
}

.popUpBox{
  display: flex;
  position: absolute;

  background-color: white;
  /* transform: translate(-50%, -50%); */
}

.targetingBox{
  width: 20px;
  height: 20px;
  background-color: red;

  transform: translate(-50%, -50%);
}

.selectionContainer{
 
}